name: Publish minknow-api to pypi
on:
  push:
    tags:
      - '*'

jobs:
  build-n-publish:
      name: Build and publish minknow-api to pypi
      runs-on: ubuntu-20.04

      steps:
        - uses: actions/checkout@master
        - name: Set up Python 3.10
          uses: actions/setup-python@v1
          with:
            python-version: "3.10"

        - name: Install pypa/build
          run: python -m pip install build==0.7.0 --user

        - name: Build a binary wheel and a source tarball
          run: |
            cd python
            python -m build --sdist --wheel --outdir ../dist .

        - name: Publish to PyPI
          uses: pypa/gh-action-pypi-publish@master
          with:
            user: __token__
            password: ${{ secrets.PYPI_API_TOKEN }}